<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Add Idea!
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
       <%= simple_form_for Idea.new do |f| %>
      <div class="modal-body">
     
      <%= f.input :description %>
      <%= f.input :author %>
      <%= f.submit 'Submit', class: 'btn btn-info btn-md' %>
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit 'Submit', class: 'btn btn-primary' %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<%= simple_form_for Idea.new do |f| %>
  <%= f.input :description %>
  <%= f.input :author %>
  <%= f.submit 'Submit', class: 'btn btn-info btn-md' %>
<% end %>
<% @ideas.each do |idea| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <blockquote>
        <p><%= idea.description %></p>
        <small>by <%= idea.author %></small>
      </blockquote> 
      <div class="btn-group" role="group">
      <%= link_to 'Delete', idea_path(idea), method: :delete, class: 'btn btn-danger btn-sm',data: {confirm: "Are you sure?"} %>
      <%= link_to'Revise', edit_idea_path(idea), class: 'btn btn-success btn-sm' %>
      </div>
    </div>
  </div>
<% end %>

